<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8" />
<title>Spring 4 MVC. Home</title>
</head>

<body>
	<h1>Home en Thymeleaf</h1>
	<h3>ViewResolver</h3>
	<a th:each="tm : ${themes}" th:href="@{/create-theme(theme=${tm})}" th:text="${tm}"></a>

	<p>
		<a th:href="@{/greeting}">Empezar</a>
	</p>
	<p>
		<a href="#">Lista de usuarios. En construcción</a>
	</p>
	<p>
		<a href="#">Crear un usuario. En construcción</a>
	</p>

</body>
</html>